* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v273_2168 {
  width: 100%;
  height: 1549px;
  background: rgba(240,240,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v273_2169 {
  width: 100%;
  height: 162px;
  background: url("../images/v273_2169.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v273_2170 {
  width: 100%;
  height: 320px;
  background: url("../images/v273_2170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1245px;
  left: 0px;
  overflow: hidden;
}
.v273_2171 {
  width: 100%;
  height: 100%;
  background: rgba(217,217,217,0.18000000715255737);
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 5px;
  overflow: hidden;
}
.v273_2172 {
  width: 388px;
  height: 966px;
  background: rgba(217,217,217,0.6100000143051147);
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 0px;
  overflow: hidden;
}
.v273_2173 {
  width: 891px;
  height: 68px;
  background: rgba(167,255,145,0.9399999976158142);
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 388px;
}
.v273_2174 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 109px;
  left: 415px;
  font-family: Roboto Flex;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v273_2175 {
  width: 192px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 109px;
  left: 524px;
  font-family: Roboto Flex;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v273_2177 {
  width: 19px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 199px;
  left: 435px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Rowdies;
  font-weight: Light;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v273_2178 {
  width: 768px;
  height: 76px;
  background: linear-gradient(rgba(217,217,217,1), rgba(115,115,115,1));
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 494px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v273_2179 {
  width: 768px;
  height: 76px;
  background: linear-gradient(rgba(217,217,217,1), rgba(115,115,115,1));
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 494px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v273_2180 {
  width: 768px;
  height: 76px;
  background: linear-gradient(rgba(217,217,217,1), rgba(115,115,115,1));
  opacity: 1;
  position: absolute;
  top: 355px;
  left: 494px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v273_2181 {
  width: 768px;
  height: 76px;
  background: linear-gradient(rgba(217,217,217,1), rgba(115,115,115,1));
  opacity: 1;
  position: absolute;
  top: 444px;
  left: 494px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v273_2182 {
  width: 768px;
  height: 76px;
  background: linear-gradient(rgba(217,217,217,1), rgba(115,115,115,1));
  opacity: 1;
  position: absolute;
  top: 533px;
  left: 494px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v273_2183 {
  width: 768px;
  height: 76px;
  background: linear-gradient(rgba(217,217,217,1), rgba(115,115,115,1));
  opacity: 1;
  position: absolute;
  top: 622px;
  left: 494px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v273_2184 {
  width: 768px;
  height: 76px;
  background: linear-gradient(rgba(217,217,217,1), rgba(115,115,115,1));
  opacity: 1;
  position: absolute;
  top: 711px;
  left: 494px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v273_2185 {
  width: 768px;
  height: 76px;
  background: linear-gradient(rgba(217,217,217,1), rgba(115,115,115,1));
  opacity: 1;
  position: absolute;
  top: 800px;
  left: 494px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v273_2186 {
  width: 768px;
  height: 94px;
  background: linear-gradient(rgba(217,217,217,1), rgba(115,115,115,1));
  opacity: 1;
  position: absolute;
  top: 889px;
  left: 494px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v273_2187 {
  width: 768px;
  height: 86px;
  background: linear-gradient(rgba(217,217,217,1), rgba(115,115,115,1));
  opacity: 1;
  position: absolute;
  top: 996px;
  left: 494px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v273_2188 {
  width: 711px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 199px;
  left: 531px;
  font-family: Roboto Flex;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v273_2189 {
  width: 28px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 276px;
  left: 430px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Rowdies;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v273_2190 {
  width: 27px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 368px;
  left: 428px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Rowdies;
  font-weight: Light;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v273_2191 {
  width: 30px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 453px;
  left: 428px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Rowdies;
  font-weight: Light;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v273_2192 {
  width: 29px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 539px;
  left: 430px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Rowdies;
  font-weight: Light;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v273_2193 {
  width: 27px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 638px;
  left: 431px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Rowdies;
  font-weight: Light;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v273_2194 {
  width: 23px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 740px;
  left: 433px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Rowdies;
  font-weight: Light;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v273_2195 {
  width: 26px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 832px;
  left: 438px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Rowdies;
  font-weight: Light;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v273_2196 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 927px;
  left: 439px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Rowdies;
  font-weight: Light;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v273_2197 {
  width: 42px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1013px;
  left: 436px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Rowdies;
  font-weight: Light;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v273_2198 {
  width: 513px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 288px;
  left: 531px;
  font-family: Roboto Flex;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v273_2199 {
  width: 513px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 383px;
  left: 531px;
  font-family: Roboto Flex;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v273_2200 {
  width: 513px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 465px;
  left: 531px;
  font-family: Roboto Flex;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v273_2201 {
  width: 677px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 552px;
  left: 531px;
  font-family: Roboto Flex;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v273_2202 {
  width: 512px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 647px;
  left: 531px;
  font-family: Roboto Flex;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v273_2203 {
  width: 513px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 732px;
  left: 531px;
  font-family: Roboto Flex;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v273_2204 {
  width: 513px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 821px;
  left: 531px;
  font-family: Roboto Flex;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v273_2206 {
  width: 696px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 900px;
  left: 531px;
  font-family: Roboto Flex;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v273_2207 {
  width: 696px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1017px;
  left: 531px;
  font-family: Roboto Flex;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v273_2208 {
  width: 349px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 191px;
  left: 37px;
  font-family: Roboto Flex;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v273_2209 {
  width: 349px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 268px;
  left: 37px;
  font-family: Roboto Flex;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v273_2218 {
  width: 334px;
  height: 75px;
  background: rgba(217,217,217,0.75);
  opacity: 1;
  position: absolute;
  top: 342px;
  left: 37px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v273_2211 {
  width: 349px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 439px;
  left: 39px;
  font-family: Roboto Flex;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v273_2212 {
  width: 349px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 489px;
  left: 39px;
  font-family: Roboto Flex;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v273_2214 {
  width: 52px;
  height: 49px;
  background: url("../images/v273_2214.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 39px;
  overflow: hidden;
}
.v273_2215 {
  width: 496px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 92px;
  font-family: Suez One;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v273_2216 {
  width: 100%;
  height: 100%;
  background: url("../images/v273_2216.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 205px;
  left: 145px;
  overflow: hidden;
}
.v273_2210 {
  width: 349px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 345px;
  left: 39px;
  font-family: Roboto Flex;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
