body {
    zoom: 150%;
    margin: 0;
    padding: 0;
}
.login-tab-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.login-tab-login-tab {
  width: 100%;
  height: 719px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 1);
}
.login-tab-denrlogo {
  top: 43px;
  left: 828px;
  width: 150px;
  height: 150px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-tab-ellipse1 {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 150px;
  position: absolute;
}
.login-tab-imageremovebgpreview1 {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 150px;
  position: absolute;
}
.login-tab-rectangle9 {
  top: 0px;
  left: 0px;
  width: 545px;
  height: 719px;
  position: absolute;
}
.login-tab-text {
  top: 214px;
  left: 770px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Rubik;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-tab-text02 {
  top: 425px;
  left: 729px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-tab-text04 {
  top: 425px;
  left: 1019px;
  color: rgba(0, 44, 160, 0.8999999761581421);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-tab-text06 {
  top: 615px;
  left: 830px;
  color: rgba(0, 44, 160, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-tab-text08 {
  top: 568px;
  left: 806px;
  color: rgba(0, 44, 160, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  font-family: Roboto Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-tab-contact-textfield {
  top: 378px;
  left: 680px;
  width: 446px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: rgba(255, 255, 255, 1);
}
.login-tab-text10 {
  top: 4px;
  left: 7px;
  color: rgba(180, 180, 180, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-tab-contact-textfield1 {
  top: 324px;
  left: 680px;
  width: 446px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: rgba(255, 255, 255, 1);
}
.login-tab-text12 {
  top: 4px;
  left: 7px;
  color: rgba(180, 180, 180, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-tab-cancel-but {
  top: 490px;
  left: 692px;
  width: 124px;
  height: 36px;
  position: absolute;
  border-radius: 20px;
}
.login-tab-text14 {
  top: 499px;
  left: 732px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-tab-line4 {
  top: 593px;
  left: 674px;
  width: 459px;
  height: 1px;
  position: absolute;
}
.login-tab-option-no {
  top: 423px;
  left: 683px;
  width: 40px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 24px;
  background-color: var(--dl-color-surface-deep);
}
.login-tab-ellipse11 {
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.login-tab-d1 {
  top: 0px;
  left: 0px;
  width: 546px;
  height: 719px;
  position: absolute;
}
